body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    text-align: center;
}

.menu {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.grid-item {
    background-color: #444;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.grid-item.winning {
    background-color: #64e291;
}

.message-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

button {
    background-color: #64e291;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e6e56c;
}
